

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">

            <div class="box-content">
                <h4 class="page-header">ตำหนิรูปพรรณ</h4>
                <form class="form-horizontal" role="form">

                    <div class="form-group">

                        <label class="col-sm-1 control-label" style="">รูปร่าง</label>

                        <div class="col-sm-3">

                            <select name="shape" id="shape" ng-model="person.shape" class="form-control">

                                <option value="สันทัด">สันทัด</option>
                                <option value="อ้วน">อ้วน</option>
                                <option value="เตี้ย">เตี้ย</option>
                                <option value="ผอม">ผอม</option>
                                <option value="สูง">สูง</option>
                                <option value="อื่นๆ">อื่นๆ</option>
                            </select>

                            <div id="box_shape" >
                               <input  name="txt_shape" id="txt_shape" type="text" ng-model="person.shape" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label">ฟัน</label>

                        <div class="col-sm-3">
                            <select name="teeth" id="teeth" ng-model="person.teeth" class="form-control">

                                <option value="ปกติ">ปกติ</option>
                                <option value="เหยิน">เหยิน</option>
                                <option value="หลอ">หลอ</option>
                                <option value="ขาว">ขาว</option>
                                <option value="อื่นๆ">อื่นๆ</option>
                            </select>
                            <div id="box_teeth" >
                                <input  name="txt_teeth" id="txt_teeth" type="text" ng-model="person.teeth" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label" >คิ้ว</label>

                        <div class="col-sm-3">
                            <select name="eyebrow" id="eyebrow" ng-model="person.eyebrow" class="form-control">

                                <option value="หนา">หนา</option>
                                <option value="บาง">บาง</option>
                                <option value="คิ้วต่อ">คิ้วต่อ</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_eyebrow" >
                                <input  name="txt_eyebrow" id="txt_eyebrow" type="text" ng-model="person.eyebrow" class="form-control" id="description" name="description">
                            </div>

                        </div>
                    </div>





                    <div class="form-group">

                        <label class="col-sm-1 control-label">ผิว</label>

                        <div class="col-sm-3">
                            <select name="skin" id="skin" ng-model="person.skin" class="form-control">

                                <option value="ดำ">ดำ</option>
                                <option value="ขาว">ขาว</option>
                                <option value="ดำแดง">ดำแดง</option>
                                <option value="ขาวเหลือง">ขาวเหลือง</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_skin" >
                                <input  name="txt_skin" id="txt_skin" type="text" ng-model="person.skin" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label" >ทรงผม</label>

                        <div class="col-sm-3">
                            <select name="hairstyles" id="hairstyles" ng-model="person.hairstyles" class="form-control">

                                <option value="รองทรง">รองทรง</option>
                                <option value="สั้นเกรียน">สั้นเกรียน</option>
                                <option value="แสกซ้าย">แสกซ้าย</option>
                                <option value="หยิกหยักโศก">หยิกหยักโศก</option>
                                <option value="ยาวประป่า">ยาวประป่า</option>
                                <option value="อื่นๆ">อื่นๆ</option>


                            </select>
                            <div id="box_hairstyles" >
                                <input  name="txt_hairstyles" id="txt_hairstyles" type="text" ng-model="person.hairstyles" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label">ศีรษะ</label>

                        <div class="col-sm-3">
                            <select name="head" id="head" ng-model="person.head" class="form-control">

                                <option value="สามเหลี่ยม">สามเหลี่ยม</option>
                                <option value="สี่เหลี่ยม">สี่เหลี่ยม</option>
                                <option value="กลม">กลม</option>
                                <option value="รูปไข่">รูปไข</option>
                                <option value="หัวล้าน">หัวล้าน</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_head" >
                                <input  name="txt_head" id="txt_head" type="text" ng-model="person.head" class="form-control" id="description" name="description">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-1 control-label" >ใบหน้า</label>

                        <div class="col-sm-3">
                            <select name="face" id="face" ng-model="person.face" class="form-control">

                                <option value="รูปไข่">รูปไข่</option>
                                <option value="สี่เหลี่ยม">สี่เหลี่ยม</option>
                                <option value="สามเหลี่ยม">สามเหลี่ยม</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_face" >
                                <input  name="txt_face" id="txt_face" type="text" ng-model="person.face" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label" >ตา</label>

                        <div class="col-sm-3">
                            <select name="eye" id="eye" ng-model="person.eye" class="form-control">

                                <option value="เล็ก">เล็ก</option>
                                <option value="ตี่">ตี่</option>
                                <option value="ตาสองชั้น">ตาสองชั้น</option>
                                <option value="ชั้นเดียว">ชั้นเดียว</option>
                                <option value="ตาเหล่">ตาเหล่</option>
                                <option value="ตาบอด">ตาบอด</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_eye" >
                                <input  name="txt_eye" id="txt_eye" type="text" ng-model="person.eye" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label" >หู</label>

                        <div class="col-sm-3">
                            <select name="ear" id="ear" ng-model="person.ear" class="form-control">

                                <option value="กวง">กาง</option>
                                <option value="บาน">บาน</option>
                                <option value="แหว่ง">แหว่ง</option>
                                <option value="ปกติ">ปกติ</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_ear" >
                                <input  name="txt_ear" id="txt_ear" type="text" ng-model="person.ear" class="form-control" id="description" name="description">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-1 control-label" >จมูก</label>

                        <div class="col-sm-3">
                            <select name="nose" id="nose" ng-model="person.nose" class="form-control">

                                <option value="โด่ง">โด่ง</option>
                                <option value="แบน">แบน</option>
                                <option value="โหว่">โหว่</option>
                                <option value="ธรรมดา">ธรรมดา</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_nose" >
                                <input  name="txt_shape" id="txt_nose" type="text" ng-model="person.nose" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label" >ปาก</label>

                        <div class="col-sm-3">
                            <select name="mouth" id="mouth" ng-model="person.mouth" class="form-control">

                                <option value="หนา">หนา</option>
                                <option value="บาง">บาง</option>
                                <option value="แหว่ง">แหว่ง</option>
                                <option value="กว้าง">กว้าง</option>
                                <option value="กระจับ">กระจับ</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_mouth" >
                                <input  name="txt_mouth" id="txt_mouth" type="text" ng-model="person.mouth" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label" >คาง</label>

                        <div class="col-sm-3">
                            <select name="chin" id="chin" ng-model="person.chin" class="form-control">

                                <option value="สี่เหลี่ยม">สี่เหลี่ยม</option>
                                <option value="สามเหลี่ยม">สามเหลี่ยม</option>
                                <option value="มน">มน</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_chin" >
                                <input  name="txt_chin" id="txt_chin" type="text" ng-model="person.chin" class="form-control" id="description" name="description">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-1 control-label" style="font-size: 11px;">หนวด/เครา</label>

                        <div class="col-sm-3">
                            <select name="mirror" id="mirror" ng-model="person.mirror" class="form-control">

                                <option value="หนวดยาว">หนวดยาว</option>
                                <option value="หนาวสั้น">หนาวสั้น</option>
                                <option value="มีเครา">มีเครา</option>
                                <option value="ไม่มีเครา">ไม่มีเครา</option>
                                <option value="อื่นๆ">อื่นๆ</option>
                            </select>
                            <div id="box_mirror" >
                                <input  name="txt_mirror" id="txt_mirror" type="text" ng-model="person.mirror" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label">ตำหนิ:</label>

                        <div class="col-sm-3">
                            <select name="scar" id="scar" ng-model="person.scar" class="form-control">
                                <option value="ไฝ">ไฝ</option>
                                <option value="ปาน">ปาน</option>
                                <option value="รอยเเผลเป็น">รอยเเผลเป็น</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_scar" >
                                <input  name="txt_shape" id="txt_scar" type="text" ng-model="person.scar" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label">สำเนียง:</label>

                        <div class="col-sm-3">
                            <select name="accent" id="accent" ng-model="person.accent" class="form-control">

                                <option value="ภาคกลาง">ภาคกลาง</option>
                                <option value="ภาคอีสาน">ภาคอีสาน</option>
                                <option value="ภาคเหนือ">ภาคเหนือ</option>
                                <option value="ภาคใต้">ภาคใต้</option>
                                <option value="อื่นๆ">อื่นๆ</option>

                            </select>
                            <div id="box_accent" >
                                <input  name="txt_accent" id="txt_accent" type="text" ng-model="person.accent" class="form-control" id="description" name="description">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-1 control-label" style="font-size: 11px;">ลักษณะเด่น</label>

                        <div class="col-sm-3">
                            <select name="nature" id="nature" ng-model="person.nature" class="form-control">

                                <option value="ตาเหล่">ตาเหล่</option>
                                <option value="ตาบอด">ตาบอด</option>
                                <option value="นิ้วหัวเเม่มืดซ้ายด้วน">นิ้วหัวเเม่มืดซ้ายด้วน</option>
                                <option value="ขาเป้">ขาเป้</option>
                                <option value="อื่นๆ">อื่นๆ</option>
                            </select>
                            <div id="box_nature" >
                                <input  name="txt_shape" id="txt_nature" type="text" ng-model="person.nature" class="form-control" id="description" name="description">
                            </div>

                        </div>
                        <label class="col-sm-1 control-label">อุนิสัย:</label>

                        <div class="col-sm-3">
                            <input ng-model="person.personality" type="text" class="form-control" id="concept"
                                   name="concept">
                        </div>
                        <label class="col-sm-1 control-label" style="font-size: 11px;">สถานที่เที่ยวเตร่</label>

                        <div class="col-sm-3">
                            <input ng-model="person.location_gallivent" type="text" class="form-control" id="concept"
                                   name="concept">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">ส่วนสูง</label>

                        <div class="col-sm-3">
                            <select ng-model="person.height" class="form-control">

                            </select>
                        </div>
                        <label class="col-sm-1 control-label">น้ำหนัก</label>

                        <div class="col-sm-3">
                            <select ng-model="person.weight" class="form-control">

                            </select>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

